.outer{
  background-color: pink;
  align-items: center;
  justify-content: center;
  padding: 40px;

}
.inner{
  background-color: antiquewhite;
  width: 400px;
  height: 300px;
}
form{
  padding: 60px;
}

.password-container {
    position: relative;
    width: 300px;
}

.password-container input {
    width: 100%;
    padding: 10px 40px 10px 10px; /* space for icon */
    box-sizing: border-box;
}

.eye-icon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
}

.light {
    background-color: white;
    color: black;
    min-height: 100vh;
}

.dark {
    background-color: black;
    color: white;
    min-height: 100vh;
}